In [59]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
import pandas as pd
import numpy as np
from processing import process_time_period, process_all_periods,\
    split_list_into_three_groups, split_dataframe_by_column_values,\
    compute_category_map, encode_category, normalize_var

In [61]:
df = pd.read_csv("~/data/icu_data_10013.csv")

In [62]:
df0 = df[df["key"] == "10013_18"]

In [63]:
df0.head()

,subject_id,key,gender,age,sapsii,sofa,care_unit,amine,sedation,ventilation,...,observation_mean_HR,observation_mean_spo2,observation_mean_MAP,observation_mean_SAP,observation_mean_DAP,prediction_mean_HR,prediction_mean_spo2,prediction_mean_MAP,prediction_mean_SAP,prediction_mean_DAP
0,10013,10013_18,1,87,49,7,3,1,0,1,...,100.48,74.883333,57.333333,106.816667,36.186667,95.44,92.0,55.88,106.56,35.12
1,10013,10013_18,1,87,49,7,3,1,0,1,...,100.48,74.883333,57.333333,106.816667,36.186667,95.44,92.0,55.88,106.56,35.12
2,10013,10013_18,1,87,49,7,3,1,0,1,...,100.48,74.883333,57.333333,106.816667,36.186667,95.44,92.0,55.88,106.56,35.12
3,10013,10013_18,1,87,49,7,3,1,0,1,...,100.48,74.883333,57.333333,106.816667,36.186667,95.44,92.0,55.88,106.56,35.12
4,10013,10013_18,1,87,49,7,3,1,0,1,...,100.48,74.883333,57.333333,106.816667,36.186667,95.44,92.0,55.88,106.56,35.12

In [64]:
df0.columns

Index(['subject_id', 'key', 'gender', 'age', 'sapsii', 'sofa', 'care_unit',
       'amine', 'sedation', 'ventilation', 'periode', 'window',
       'time_and_date', 'hr', 'spo2', 'abp_sys', 'abp_dias', 'abp_mean',
       'observation_mean_HR', 'observation_mean_spo2', 'observation_mean_MAP',
       'observation_mean_SAP', 'observation_mean_DAP', 'prediction_mean_HR',
       'prediction_mean_spo2', 'prediction_mean_MAP', 'prediction_mean_SAP',
       'prediction_mean_DAP'],
      dtype='object')

In [65]:
time_cols = ["hr", "spo2", "abp_mean"]
x_static_cols = ["subject_id", "gender", "age", "sapsii", "care_unit"]
y_cols = ["prediction_mean_HR", "prediction_mean_MAP"]
static_cols = x_static_cols + y_cols

In [66]:
df = pd.read_csv("~/data/icu_data_10013.csv")
result = process_all_periods(df, static_cols, time_cols, process_time_period)

## Task 5
1. Apply `process_all_periods` to the data in "icu_data.csv" using the `time_cols` and `static_cols` provided above.

In [68]:
print(result.shape)

(74159, 11)

2. Use the unique values of `subject_id` to split the dataset into train, validation, and test sets. Use the `split_list_into_three_groups` function to split subject_id into three groups using the probabilities p1=0.8, p2=0.1, and p3=0.1, corresponding to train, validation, and test sets.

3. Use the three groups that resulted from the function above and the function `split_dataframe_by_column_values` to split the (grouped) dataset into train, valid and test.

4. Here we will encode categorical variables. We will compute a `cat_map` for each of the categorical variables by looking at the values from the **training set**. Values that are not present on the training set will get a `0` on the test and validation sets. </br>
a) Compute a category map for variables `subject_id` and `care_unit` using function `compute_category_map`. </br>
b) Apply `encode_category` function to columns `subject_id` and `care_unit` using precomputed category maps to each of the datasets (train, validation, test).

5. Normalize variables: "age", "sapssi", "hr", "spo2", "abp_mean". For each of the variables, compute mean and std from the **training data**. Use the `normalize_var` function to normalize the data. 

Note: For time series data, follow these steps:

- Estimate the mean by first calculating the mean of each observation and then taking the mean over the entire dataset.
- To estimate the standard deviation, compute the mean per observation and then calculate the std over the entire dataset.

In [83]:
# your values might not be the same
train_df.head()

,key,subject_id,gender,age,sapsii,care_unit,prediction_mean_HR,prediction_mean_MAP,hr,spo2,abp_mean
0,10049_4,1,0,-0.126436,-0.917494,1,65.972222,100.888136,"[-1.1972014034161202, -1.3243635682767256, -1....","[0.11469979432371856, 0.25656710756885476, -0....","[1.7022781886475125, 2.003815954491115, 2.0038..."
1,10049_5,1,0,-0.126436,-0.917494,1,62.883333,101.036667,"[-1.387944650707028, -1.260782485846423, -1.19...","[0.25656710756885476, 0.25656710756885476, 0.2...","[2.5315070447174195, 2.229969278873817, 1.7022..."
2,10049_6,1,0,-0.126436,-0.917494,1,63.970000,94.220000,"[-1.3243635682767256, -1.260782485846423, -1.2...","[0.18563345094628664, 0.11469979432371856, 0.1...","[1.9284315130302143, 1.2499715398821085, 0.646..."
3,10049_8,1,0,-0.126436,-0.917494,1,63.770000,93.453333,"[-1.260782485846423, -1.4515257331373308, -1.3...","[0.11469979432371856, 0.18563345094628664, 0.1...","[1.4007404228039098, 1.2499715398821085, 1.023..."
4,10077_10,2,1,-1.058977,0.413462,1,107.360000,72.620000,"[1.5685756823020436, 1.454129733927499, 1.4541...","[0.34878086117819307, 0.25656710756885476, 0.1...","[0.02120514406942847, 0.5564346784418225, 0.44..."