## Lab 4: Pandas Series

In [2]:
import pandas as pd
import numpy as np

### Creating a pandas series from a csv file
1. Create a function that given a path to the data, and the name of a column returns a series with that column and country as index.
2. Get a series with the "inflation" column. The data is here: https://github.com/yanneta/msds692/blob/master/data/country-data.csv

### Data Manupulation
1. Compute quantiles .25, .5, .75, max and min for this data.
2. Manually add country “Cuba” with values NA. (np.nan).
3. Create a new series in which indexes are sorted again.
4. Create a new series that replaces any inflation value < 0 with 0.
6. Fill NAs with the median value of the series.

### Other problems:

In [3]:
s = pd.Series([10, -15, 20, -25, 30, -35])

# Your task:
# 1. Replace all negative values with their absolute value.
# 2. Return the modified Series.

In [4]:
s = pd.Series([1, 2, 3, 4, 5])

# Your task:
# 1. Apply a function that doubles the even values and triples the odd values.
# 2. Return the modified Series.
# Hint: use a lambda function

In [5]:
s = pd.Series([10, np.nan, 20, np.nan, 30, 40])

# Your task:
# 1. Replace NaN values with the mean of the non-NaN values.
# 2. Return the modified Series.
# hint: use a funcion np.isna()

In [6]:
scores = pd.Series([45, 82, 56, 73, 29, 90, 61, 40])
# Your task:
# Filter out scores below 50.
# Normalize the remaining scores to the range 0 to 1.

In [8]:
# Tasks:
# 1. Produce a series with the 3 top names from babynames. The series should have 
# names as index and the frequency as values
# 2. Produce a Series with the frequecy all all baby names starting with A.
babynames = pd.Series([
    'Liam', 'Emma', 'Olivia', 'Noah', 'Olivia', 'Ava', 'Olivia', 'Liam', 
    'Sophia', 'Noah', 'Liam', 'Ava', 'Isabella', 'Isabella', 'Isabella', 
    'Mia', 'Emma', 'Noah', 'Ava', 'Ava', 'Liam', 'Liam', 'Noah', 
    'Emma', 'Sophia', 'Alma'], dtype='string')