## Lab 4: Pandas Series

In [1]:
import pandas as pd
import numpy as np

### Creating a pandas series from a csv file
1. Create a function that given a path to the data, and the name of a column returns a series with that column and country as index.
2. Get a series with the "inflation" column. The data is here: https://github.com/yanneta/msds692/blob/master/data/country-data.csv

In [3]:
def get_series(path, col_name):
    data = pd.read_csv(path,index_col="country", usecols =["country",col_name])
    return data.squeeze()
data = get_series("../data/country-data.csv","inflation")

### Data Manupulation
1. Compute quantiles .25, .5, .75, max and min for this data.
2. Manually add country “Cuba” with values NA. (np.nan).
3. Create a new series in which indexes are sorted again.
4. Create a new series that replaces any inflation value < 0 with 0.
6. Fill NAs with the median value of the series.

In [6]:
# 1.
quants = data.quantile([0.25,0.5,0.75])
quants

0.25     1.81
0.50     5.39
0.75    10.75
Name: inflation, dtype: float64

In [9]:
# 2. 
data.loc["Cuba"] = np.nan
data

country
Afghanistan             9.44
Albania                 4.49
Algeria                16.10
Angola                 22.40
Antigua and Barbuda     1.44
                       ...
Venezuela              45.90
Vietnam                12.10
Yemen                  23.60
Zambia                 14.00
Cuba                     NaN
Name: inflation, Length: 168, dtype: float64

In [17]:
# 3.
sorted_data = data.sort_values(ascending=False)
sorted_data

country
Nigeria              104.00
Venezuela             45.90
Mongolia              39.20
Timor-Leste           26.50
Equatorial Guinea     24.90
                      ...
Czech Republic        -1.43
Japan                 -1.90
Ireland               -3.22
Seychelles            -4.21
Cuba                    NaN
Name: inflation, Length: 168, dtype: float64

In [20]:
# 4. Create a new series that replaces any inflation value < 0 with 0.
data_new = sorted_data.where(lambda x: x<0).dropna()
data_new

country
Singapore        -0.046
Bahamas          -0.393
Latvia           -0.812
Slovenia         -0.987
Czech Republic   -1.430
Japan            -1.900
Ireland          -3.220
Seychelles       -4.210
Name: inflation, dtype: float64

In [26]:
sorted_data

country
Nigeria              104.00
Venezuela             45.90
Mongolia              39.20
Timor-Leste           26.50
Equatorial Guinea     24.90
                      ...
Czech Republic        -1.43
Japan                 -1.90
Ireland               -3.22
Seychelles            -4.21
Cuba                    NaN
Name: inflation, Length: 168, dtype: float64

In [34]:
# 6. Fill NAs with the median value of the series.
median = sorted_data.median()
median_val_na = sorted_data.apply(lambda x: median if pd.isna(x) else x)
median_val_na

country
Nigeria              104.00
Venezuela             45.90
Mongolia              39.20
Timor-Leste           26.50
Equatorial Guinea     24.90
                      ...
Czech Republic        -1.43
Japan                 -1.90
Ireland               -3.22
Seychelles            -4.21
Cuba                   5.39
Name: inflation, Length: 168, dtype: float64

### Other problems:

In [2]:
s = pd.Series([10, -15, 20, -25, 30, -35])

# Your task:
# 1. Replace all negative values with their absolute value.
# 2. Return the modified Series.

In [4]:
s = pd.Series([1, 2, 3, 4, 5])

# Your task:
# 1. Apply a function that doubles the even values and triples the odd values.
# 2. Return the modified Series.
# Hint: use a lambda function

In [5]:
s = pd.Series([10, np.nan, 20, np.nan, 30, 40])

# Your task:
# 1. Replace NaN values with the mean of the non-NaN values.
# 2. Return the modified Series.
# hint: use a funcion np.isna()

In [6]:
scores = pd.Series([45, 82, 56, 73, 29, 90, 61, 40])
# Your task:
# Filter out scores below 50.
# Normalize the remaining scores to the range 0 to 1.

In [8]:
# Tasks:
# 1. Produce a series with the 3 top names from babynames. The series should have 
# names as index and the frequency as values
# 2. Produce a Series with the frequecy all all baby names starting with A.
babynames = pd.Series([
    'Liam', 'Emma', 'Olivia', 'Noah', 'Olivia', 'Ava', 'Olivia', 'Liam', 
    'Sophia', 'Noah', 'Liam', 'Ava', 'Isabella', 'Isabella', 'Isabella', 
    'Mia', 'Emma', 'Noah', 'Ava', 'Ava', 'Liam', 'Liam', 'Noah', 
    'Emma', 'Sophia', 'Alma'], dtype='string')