In [2]:
import pandas as pd

**Exercise 1**: Filter the DataFrame to show only the rows where Salary is greater than 50000 and Experience is between 3 and 10 years. Only display the EmployeeID and Department columns."

In [3]:
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'Finance', 'Engineering', 'Marketing', 'IT'],
    'Salary': [55000, 48000, 72000, 60000, 45000],
    'Experience': [5, 2, 7, 10, 3]
}

df = pd.DataFrame(data)

**Exercise 2:** You are analyzing sales performance data for a retail chain. Given a DataFrame containing columns for the store location, product category, and the amount of sales:

Task 1: Determine the total sales amount for each product category across all stores.

Task 2: Determine the average sales amount per store for each product category.

Task 3: Find the store with the highest total sales.

In [3]:
data = {
    'Store': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product_Category': ['Electronics', 'Furniture', 'Electronics', 'Clothing', 'Furniture', 'Clothing', 'Electronics', 'Furniture'],
    'Sales_Amount': [15000, 8000, 12000, 5000, 10000, 6000, 11000, 7000]
}

df = pd.DataFrame(data)
df

   Store Product_Category  Sales_Amount
0  North      Electronics         15000
1  South        Furniture          8000
2   East      Electronics         12000
3   West         Clothing          5000
4  North        Furniture         10000
5  South         Clothing          6000
6   East      Electronics         11000
7   West        Furniture          7000

**Exercise 3**: Write a solution to find all the employees who approved at least one of their own requests. An employee is considered to have approved their own request if their employee_id matches their approver_id for any row in the table.

In [3]:
data_approvals = {
    'request_id': [101, 102, 103, 104, 105, 106, 107],
    'employee_id': [1, 2, 3, 4, 2, 5, 6],
    'approver_id': [2, 2, 3, 6, 2, 5, 6],
    'approval_date': ['2023-01-10', '2023-01-12', '2023-01-15',\
                      '2023-01-16', '2023-01-18', '2023-01-20', '2023-01-22']
}

df_approvals = pd.DataFrame(data_approvals)

**Exercise 4**: Select rows where the department is either 'Sales' or 'HR' and the score is greater than 80.

In [ ]:
data = {
    'emp_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah'],
    'department': ['Sales', 'Marketing', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR'],
    'score': [88, 75, 95, 65, 80, 90, 70, 85],
    'tenure': [5, 3, 4, 2, 6, 1, 5, 7]
}
df = pd.DataFrame(data)

**Exercise 5**: You are given a DataFrame, reviews, containing user reviews of a product. Each review is a string that may contain various positive or negative words. Your task is to classify each review as "Positive," "Negative," or "Neutral" based on the count of these words. If the number of positive words exceeds the number of negative words, the prediction should be "Positive." If the number of negative words exceeds the number of positive words, the prediction should be "Negative." If the counts are equal, the prediction should be "Neutral." Create a column called "prediction."

In [ ]:
import pandas as pd

# Sample data
reviews = pd.DataFrame({
    'review_id': [1, 2, 3, 4],
    'text': [
        'I love this product, it is amazing and fantastic',
        'The quality is bad and I am very disappointed',
        'It is a great day with excellent service',
        'Worst experience ever, I hate it'
    ]
})

positive_words = ['good', 'great', 'excellent', 'amazing', 'happy', 'love', 'fantastic', 'awesome']
negative_words = ['bad', 'terrible', 'poor', 'sad', 'hate', 'awful', 'disappointed', 'worst']

In [3]:
# You might want to remove punctuation before splitting a string into words
# re.sub(): Uses a regular expression to match any character that is not a word character (\w)
# or whitespace (\s), effectively removing all punctuation characters.
import re
s = "string. With. Punctuation?"
s = re.sub(r'[^\w\s]','',s)
s

'string With Punctuation'

**Problem 6**: Given the dataframe below, write a solution to find, for each date, the total number of items ordered and the names of all unique items sold, sorted lexicographically.

The unique item names for each date should be separated by commas and sorted alphabetically.

In [4]:
data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'order_date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-01', 
                   '2023-01-03', '2023-01-02', '2023-01-03', '2023-01-03'],
    'item': ['Apple', 'Banana', 'Apple', 'Apple', 'Orange', 'Banana', 'Banana', 'Apple'],
    'quantity': [10, 5, 3, 2, 7, 4, 6, 8]
}

df = pd.DataFrame(data)
df['order_date'] = pd.to_datetime(df['order_date'])

**Problem 7**:
You want to group individual rows in this dataset into purchase sessions. Two rows should belong to the same session if:

1. They have the same customer_id.
2. The add_time is within 30 minutes of each other.

Task:

Create a column in purchases called session_id that identifies which rows belong to the same session.
The session_id should be a unique identifier for each session for every customer_id.

Hints: Use groupby on customer_id and then use diff and cumsum to identify the start of new sessions.

In [4]:
data = {
    'customer_id': [1, 1, 1, 2, 2, 3, 3, 3],
    'product_id': [101, 102, 103, 201, 202, 301, 302, 303],
    'add_time': [
        '2023-01-01 10:00:00', '2023-01-01 10:15:00', '2023-01-01 11:00:00',
        '2023-01-02 14:30:00', '2023-01-02 15:00:00', '2023-01-03 16:45:00',
        '2023-01-03 17:00:00', '2023-01-03 17:35:00'
    ]
}
purchases = pd.DataFrame(data)
purchases['add_time'] = pd.to_datetime(purchases['add_time'])
purchases

   customer_id  product_id            add_time
0            1         101 2023-01-01 10:00:00
1            1         102 2023-01-01 10:15:00
2            1         103 2023-01-01 11:00:00
3            2         201 2023-01-02 14:30:00
4            2         202 2023-01-02 15:00:00
5            3         301 2023-01-03 16:45:00
6            3         302 2023-01-03 17:00:00
7            3         303 2023-01-03 17:35:00